@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --color-primario:#f3f5fc;
    --color-secundario:#000000;
    --color-terciario:#0A3871;
    --color-hover: #272727;
    
    --fuente-montserrat:  "Montserrat", sans-serif;
    --fuente-krona:  "Krona One", sans-serif;
    --font-inter: 'Inter', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    font-family: var(--font-inter);
}

body{
    background-color: var(--color-primario);
}

header{
    width: 100%;
    height: 70px;
}

.logo{
    width: 100px;
    height: 50px;
    padding-top: 20px;
    padding-left: 40px;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    height: auto;
    padding: 20px;
}

.seccion1 {
    flex: 1;
    margin-right: 20px;
}

.contenedorcajatexto{
    position: relative;
    padding-left: 100px;
    width: 80%;
    height: 600px;
}

.cajatexto{
    width: 80%;
    height: 100%;
    border: none;
    background-color: var(--color-primario);
    cursor: pointer;
    color: var(--color-terciario);
    font-size: 32px;
    font-weight: 400;
    font-family: var(--font-inter);
}

.cajatexto::placeholder{
    color: var(--color-terciario);
}

.warning{
    position: relative;
    margin-top: 20px;
    color: var(--color-hover);
}

.contenedor-botones{
    position: relative;
    margin-top: 20px;
    height: 80px;
    padding-left: 15%;
}

.btn-encriptar{
    width: 328px;
    height: 67px;
    border-radius: 24px;
    background-color: var(--color-terciario);
    color: white;
    font-size: 16px;
    font-weight: 400;
    font-family: var(--font-inter);
    border: none;
    margin-right: 20px;
    cursor: pointer;
}

.btn-desencriptar{
    width: 328px;
    height: 67px;
    border-radius: 24px;
    background-color: #D8DFE8;
    color: var(--color-terciario);
    font-size: 16px;
    font-weight: 400;
    font-family: var(--font-inter);
    border: 1px solid var(--color-terciario);
    cursor: pointer;
}

.seccion2{
    flex: 1;
    max-width: 400px;
    background-color: #ffffff;
    box-sizing: border-box;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.50);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.contenedormunieco{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.contenedor-parrafo{
    text-align: center;
    margin-top: 20px;
 }

.contenedor-parrafo h3{
    font-size: 24px;
    font-weight: 700;
    font-family: var(--font-inter);
    color: var(--color-hover);
}

.contenedor-parrafo p{
    font-family: var(--font-inter);
    font-weight: 400;
    font-size: 16px;
    color: var(--color-hover);
    padding-top: 20px;
}

.contenedor-resultado{
    width: 100%;
    margin-top: 20px;
    box-sizing: border-box;
    text-align: center;
}

.contenedor-resultado p{
    color: var(--color-hover);
    font-size: 25px;
}

.contenedor-copiar{
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

.btn-copiar{
    width: 328px;
    height: 67px;
    border-radius: 24px;
    background-color: #ffffff;
    color: var(--color-terciario);
    font-size: 16px;
    font-weight: 400;
    font-family: var(--font-inter);
    border: 1px solid var(--color-terciario);
    cursor: pointer;
}

.ocultar{
    display: none;
}

/* Media Query para pantallas pequeñas */
@media (max-width: 768px) {
    main {
        flex-direction: column-reverse;
    }

    .seccion1, .seccion2 {
        width: 100%;
        margin-right: 0;
        margin-top: 0;
    }

    .seccion2 {
        margin-bottom: 20px;
    }
}
